@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
  }
body, #main .card-body{
    font-family:myFirstFont;
    background-color: #F7F7F7;
    
}


/* side */
#side{
 border-right:solid 3px white;
}
#side .card{
  background-color: #F7F7F7;
}
/* profile image */
.card{
    border: none;
}
* img{
    display: block;
    
}

.card-header img{
    width: 20rem;
    height: 20rem;
    margin:auto;
    background-color: #F7F7F7;    
}

#projects #main-img{
    max-width: 13rem;
    min-width: 13rem;
    max-height: 100%;
    min-height: 10rem;
    border: none;
}
#projects .card {
    min-height: 25rem;
    max-height: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top:4rem ;
   display: flex;
   
   align-items: center;
   
}
#projects .card:hover, #skills .card:hover{
    box-shadow: 3px 11px 20px 5px rgba(0,0,0,0.2);
}


#projects .card .tech {
    display:flex;
    margin: auto;
    
}
.tech img{
    max-width: 2rem;
}
.tech img, .tech i{
    margin: 0.3em;
}


#projects .card .btn{
  width: fit-content;
}

/* skills */
#skills  #main-img{
    width:7rem;
    height: auto;
    position: absolute;
    top: -4rem;
    border: solid 1px white;
    border-radius: 50%;
    background-color: white;
    
    
}
#skills .card {
    min-height: 16rem;
    max-height: 16rem;
    max-width: 14rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    margin-top:6rem ;
   align-items: center;
   
}
#skills .card-title{
    margin-top: 5rem;
}



/* nav */
.nav-item {
    color: black;
}
/*modal */


.modal-body img{
    width: 95%;
    margin: auto;
}

.modal-body p{
    margin-top: 3rem;
    font-size: larger;
}

/* list of the skills and social media accounts */
.skills-contact ul{ 
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    flex-grow: inherit;
}

.skills-contact ul li{
    margin: auto;
    padding: 1em;
    text-align: center;
}

.skills-contact li img {
 width: 4.5rem;
 height: 4.5rem;
}

/* mobile design */

@media only screen and (max-width: 600px) {
    #skills .card, #projects .card{
        max-width: 20rem;
        min-width: 20rem;
    }
     #projects .card #main-img{
        max-width: 20rem;
        min-width: 20rem;
    }
    /* skills */
    #skills  .col-md-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   }



.fa-python{
    color:#3775A9;
}

 .fa-java{
    color: #4A8BC6;
}

.fa-js-square{
    color: #F5DE19;
}

 .fa-html5{
    color: #E44D26;
}

 .fa-css3-alt{
    color: #32A4D6;
}

 .fa-sass{
    color: #DE9CBE;
}

 .fa-react{
    color: #74D9F5;
}

.fa-github{
    color: black;
}

.fa-reddit{
    color: #E44D26;
}

 .fa-free-code-camp{
    color: green;
}

 .fa-hackerrank{
    color: green;
}

 .fa-codepen{
    color: black;
}

.hide{
    visibility: hidden;
    height: 0rem;
    
}

.show{
    visibility: visible;
}







